.navbar {
    padding: 1rem 2rem;
    background-color: var(--color1);
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-brand span {
    display: block;
    font-size: 0.8rem;
    color: var(--color2);
}
.nav-link {
    font-size: 1rem;
    color: #000;
    margin-right: 1.5rem;
}
.form-inline {
    display: flex;
    align-items: center;
}
.form-control {
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}
.btn-primary {
    background-color: var(--color2);
    border-color: var(--color2);
}

@media (max-width: 425px) {
    
    button {
        display: flex;
    }
    img {
        width: 150px;
    }
    form {
        width: 300px;
    }
    select {
        width: 100px;
    }
}
@media (min-width: 426px) {
    
    img {
        width: 250px;
        
    }
    form {
        width: 350px;
    }
    select {
        width: 150px;
    }
}
@media (min-width: 1024px) {
    img {
        width: 250px;
    }
    form {
        width: 400px;
    }
    select {
        width: 200px;
    }
}