<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-start">
                <p>Liens Légale</p>
                <p><a href="#">Mentions légales</a></p>
                <p><a href="#">Données personnelles</a></p>
                <p><a href="#">Accessibilité</a></p>
                <p><a href="#">Cookies</a></p>
            </div>
            <div class="col-md-4 text-center">
                <div class="social-icons">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.x.com"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <p>Contactez-nous</p>
                <p>101 cours Charlemagne<br>CS 20033<br>69269 LYON CEDEX 02<br>France</p>
                <p>+33 (0)4 26 73 40 00</p>
            </div>
        </div>
        <footer>
            <p>&copy; SINJ 2024</p>
          </footer>
    </div>
  </div>
  
  