body {
    background-color: var(--color1);
}
.titre-fiche {
    color: var(--color3);
}
.para {
    color: var(--color3);
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}
.container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-img {
    border-radius: 10%;
    overflow: hidden;
    width: 25%; 
    height: 25%;
}
.contact-form {
    background-color: var(--color4);
    border-radius: 15px;
    padding: 20px;
    color: var(--color1);
}
.contact-form input, .contact-form textarea {
    background-color: #d9d9d985;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.contact-form button {
    background-color: var(--color3);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}
.about {
    margin-top: 20px;
    color: var(--color3);
}
.card-body {
    img {
        margin-bottom: 30px;
    }
}