@media (max-width: 425px) {
    main {
        font-size: 1em;
        text-align: center;
        padding: 10px;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.text-section {
    flex: 1;
    padding: 70px;
    color: #000000;
}
.text-section h2 {
    color: var(--color3);
}
.image-section {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-container {
    width: 45%;
    padding: 10px;
}
.image-container img {
    width: 100%;
    border-radius: 0 50% 0 50%;
}
.image-container:nth-child(2) img {
    border-radius: 50% 0 50% 0;
}
.image-container:nth-child(3) img {
    border-radius: 50% 0 50% 0;
}
.image-container:nth-child(4) img {
    border-radius: 0 50% 0 50%;
}

.section-title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: var(--color3);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column; 
    background-color: white;
  }
  
.rating {
    margin-bottom: 10px;
}
.img-rounded {
    border-radius: 10%;
    overflow: hidden;
    width: 50%; 
    height: 40%;
  }

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .text-section {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .image-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* ✅ grille 2 colonnes */
        gap: 10px; /* espace entre les images */
        width: 100%;
        padding: 20px;
    }
    .image-container {
        width: 100%; /* ✅ chaque image prend son espace grid */
        padding: 5px;
    }
}
