<main>
    <div *ngIf="artisans.length > 0; else noArtisans">
        <h2>Les artisans dont le nom est:  {{ specialty }}</h2>
        <div class="row col-lg-12 d-flex justify-content-evenly">
            <div *ngFor="let artisan of artisans" class="card col-md-6 mb-4 p-4">
                <div class="card-body">
                    <h5 class="card-title fw-bolder">{{artisan.name}}</h5>
                    <p class="card-text fw-semibold">{{artisan.specialty}}</p>
                    <div class="rating">
                        <p class="card-text fw-semibold">{{artisan.note | note}}</p>
                    </div>
                    <p class="card-text fw-semibold">{{artisan.location}}</p>
                    <button (click)="viewArtisan(artisan.id)" type="button" id="bouton" class="btn btn-primary">Contacter</button>
                </div>
                
            </div>

        </div>
        
    </div>
    <ng-template #noArtisans>
        <p>Il n'y a pas d'artisans dont le nom est: {{ specialty }}</p>
    </ng-template>
</main>
